$font-main: "Roboto";
$font-accent: "Raleway";
$font-size: 14px;
$text-color-main: #212121;
$text-color-accent: #757575;
$accent-color: #2196f3;
$accent-color-dark: #188ce8;
$bg-color: #2f303a;
$light-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$transition-prop: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
