.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;

    background-color: $accent-color;
    cursor: pointer;
    border: 0;
    border-radius: 4px;

    font-family: $font-main;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;

    transition: background-color $transition-prop, box-shadow $transition-prop;

    &:hover,
    &:focus {
        background-color: $accent-color-dark;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &--with-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn__icon {
    fill: currentColor;

    &--start {
        margin-right: 10px;
    }

    &--end {
        margin-left: 10px;
    }
}

.btn--sm {
    padding: 6px 22px;
    min-width: auto;

    background-color: $light-bg-color;

    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #000000;

    &:hover,
    &:focus {
        background-color: $accent-color;

        color: #ffffff;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn-burger {
    display: none;
    margin: 0;
    padding: 0;

    border: 0;
    background-color: transparent;

    z-index: 2;

    // & svg {
    //     margin-right: 15px;
    // }

    @media (max-width: 767px) {
        display: inline-flex;
    }
}

.btn-burger .btn-burger__icon-cross {
    display: none;
}

.btn-burger.is-open .btn-burger__icon-cross {
    display: block;
}

.btn-burger.is-open .btn-burger__icon-burger {
    display: none;
}
