.intro {
    width: 100%;
    max-width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;

    background-color: $bg-color;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../image/intro/intro-bg-480w.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;

    @media (min-width: 768px) and (max-width: 1199px) {
        max-width: 768px;

        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../image/intro/intro-bg-768w.jpg);
    }

    @media (min-width: 1200px) {
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../image/intro/intro-bg-1600w.jpg);
    }
}

.intro__title {
    margin: 0 auto 30px;
    max-width: 360px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    @media (min-width: 1200px) {
        max-width: 700px;
        font-size: 44px;
        line-height: 1.36;
    }
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @media (max-width: 767px) {
        .intro {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../image/intro/intro-bg-480w@2.jpg);
        }
    }

    @media (max-width: 1199px) {
        .intro {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../image/intro/intro-bg-768w@2.jpg);
        }
    }

    @media (min-width: 1200px) {
        .intro {
            background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)
                ),
                url(../image/intro/intro-bg-1600w@2.jpg);
        }
    }
}
