.portfolio__nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        margin-top: -15px;
    }

    @media (min-width: 768px) {
        justify-content: center;
    }

    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.portfolio__nav-item {
    margin-left: 8px;

    @media (max-width: 767px) {
        margin-top: 15px;
    }
}
